body {
  background: #eceff1;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  overscroll-behavior: contain;
}

@media (max-width: 600px) {
  body,
  #message {
    margin-top: 0;
    background: white;
    box-shadow: none;
  }
  body {
    border-top: 16px solid #ffa100;
    overscroll-behavior: contain;
  }
}

#canvas {
  width: 90%;
  position: relative;
  margin: 2em auto;
}

#canvas img {
  max-height: 100%;
  max-width: 100%;
}

#outerButtonWrapper {
  width: 90%;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.ui-field-contain {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#innerButtonWrapper {
  width: 90%;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#addButton {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

#removeButton {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.circle {
  border-radius: 50%;
}
.charm {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
}

.charm img {
  max-height: 100%;
  max-width: 100%;
}
